.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 700px;
    padding: .5rem 0;
    margin: 0rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.list-group {
    padding: 70px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 700px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #555;
    color: white;
}

.dropdown-toggle {
    background-color: #40a8c3;
    border: 0;
    border-radius: 0;
    padding: 20px 24px;
    transition: background-color 150ms;
    width: 700px;
}

.dropdown .dropdown-toggle {
    padding: 22px 24px 22px 36px;
    width: 700px;
}

input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

input {
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}


.dropdown {
    margin: auto;
}

.main-header h1 {
    line-height: 41px;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1 {
    font-size: 38px;
    margin-bottom: 30.4px;
}

.main-wrapper {
    padding-left: 300px;
    padding-right: 60px;
    min-height: 100vh;
}

.main-wrapper {
    padding: 0px 10px 100px 100px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1500px;
    transition: margin 150ms;
    min-height: calc(100vh - 57px);
}
a {
    -webkit-text-decoration-skip: objects;
    color: #40a8c3;
    text-decoration: none;
    transition: color 150ms;
}

*, .subscriptions .actions .cancel, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.section {
    display: block;
}
.layout--student .main-sidebar__home-link {
    margin: 25px 28px 21px;
}
.main-sidebar__home-link {
    display: block;
    height: 55px;
    width: 57px;
    margin: 25px auto 21px;
    padding: 0;
}
a {
    -webkit-text-decoration-skip: objects;
    color: #40a8c3;
    text-decoration: none;
    transition: color 150ms;
}
.link--delete, a {
    -webkit-transition: color 150ms;
    -moz-transition: color 150ms;
    -ms-transition: color 150ms;
    -o-transition: color 150ms;
}
.delete-link-icon, a {
    background-color: transparent;
}
*, :after, :before {
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
*, .subscriptions .actions .cancel, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: text-bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, select {
    text-transform: capitalize;
}

#download{
    vertical-align: center;
}