body {
    background-color: #e8f4f2;
    color: #464646;
    font: 400 1.4em/1.2em "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .700rem .100rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 3%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1{
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.login-form-1 .login-image {
    background: transparent url(https://crowdmark-com.s3.amazonaws.com/website/images/logo.svg) no-repeat center center/contain;
    background-image: url(https://crowdmark-com.s3.amazonaws.com/website/images/logo.svg);
    background-position-x: center;
    background-position-y: center;
    /*background-size: contain;*/
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    margin: 1em auto;
    height: 115px;
    width: 220px;
}
