{% extends "courses.html" %}
{% block content %}
<main class = "main-wrapper" role="main">
        <a name="skip"></a>
        <section class="main-content">
            <div class="u-col--8">
            	<ul class="student-dashboard__course-list">
            		<table>
         			{% for t in table %}
	                  <li>
	                    <a href="{{ url_for('single_course', course_name=t.title) }}" class="list-block course-list__course u-push-bottom--2 u-clearfix ember-view">
	                    	<h2 class="list-block__title course__name u-left">
	                    		{{ t.title }}
	                    	</h2>
	                    	<div class="course__assessments u-right">
	                    		{{ t.length }} assessments
	                      	</div>
	                    </a>
	                  </li>
	                {% endfor %}
                </ul>
                <br>
                <div id="download" style="text-align:center">
                    <button class="button" style="text-align:center">Download</button>
                </div>
            </div>
        </section>
        <br>
    </main>
{% endblock content %}