{% extends "layout.html" %}
{% block content %}
    <div class="container login-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <div class="login-image"></div>
                            <fieldset class="form-group">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btnSubmit") }}
                            </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
